# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Local dataset source files
dataset/raw/

# Local dataset preparation script
prepare_dataset.py

# Python project files
*.egg-info/
dist/
build/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
